@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
}
.wrapper {
    margin: 20px auto;
    width: 50%;
  }
  
  .form-input {
    border: 1px solid #ebebeb;
    font-size: 17px;
    position: relative;
  }
  input::placeholder{
    color: #ddd;
  }
  .form-input + .form-input {
    margin-top: .8em;
  }
  
  .form-input .input {
    background: #fff;
    border: none;
    padding: .4em .7em;
    width: 100%;
  }
  .form-input .icon {
    left: 0;
    margin: .5em;
    position: absolute;
    top: 0;
  }
  
  .form-input .icon ~ .input {
    padding-left: 2em;
  }
  
  .form-input .button {
    background: #FBAE32;
      border: none;
      position: absolute;
      right: 0;
      height: 100%;
  }
  
  .form-input .button ~ .input {
    padding-right: 2em;
  }
.navbar {
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: white;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
}

.navbar-default .navbar-brand {

    margin-top: 20px;

}

.navbar-default .navbar-nav>li>a {
    color: #817f7f;
    margin: 10px 5px 5px 5px;
    margin-top: 30px;
    font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #413e3e;
}

.navbar-default .navbar-nav .active {
    color: #413e3e;
}

.cart-nav {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.fa-shopping-cart {
    content: "\f07a";
    color: #000000;
    font-size: 25px;
    text-decoration: none;
}

.nav-cart-items {
    background: #FBAE32;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 10px;
    height: 14px;
    line-height: 13px;
    margin-left: -10px;
    margin-bottom: 5px;
    min-width: 10px;
    padding-left: 4px;
    pointer-events: none;
    vertical-align: top;
    top: 15px;
    text-shadow: 0 1px rgba(45, 60, 72, 0.1);
}

h3.h3 {
    text-align: left;
    margin-top: 100px;
    margin-left: 15px;
    text-transform: capitalize;
    font-size: 15px;
}
h3.h3 a {
    text-decoration: none;
    color: #FBAE32;
}

/********************* shopping Demo-1 **********************/
.product-grid {
    font-family: Raleway, sans-serif;
    text-align: center;
    padding: 0 0 72px;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
    z-index: 1;
    
}

.product-grid .product-image {
    position: relative;
    transition: all .3s ease 0s
}

.product-grid .product-image a {
    display: block
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
}

.product-grid .pic-1 {
    opacity: 1;
    transition: all .3s ease-out 0s
}

.product-grid:hover .pic-1 {
    opacity: 1
}

.product-grid .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-out 0s
}

.product-grid:hover .pic-2 {
    opacity: 1
}

.product-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid:hover .social {
    opacity: 1;
    top: 50%
}

.product-grid .social li {
    display: inline-block
}

.product-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.product-grid .social li a:hover {
    color: #fff;
    background-color: #df8a0c;
}

.product-grid .social li a:after,
.product-grid .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.product-grid .social li a:hover:after,
.product-grid .social li a:hover:before {
    opacity: 1
}

.product-grid .rating {
    color: #FFD200;
    font-size: 12px;
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: -1
}

.product-grid .rating li.disable {
    color: rgba(0, 0, 0, .2)
}
.social .fa-shopping-cart{
 color: #ffffff;
}
.product-grid .product-content {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -27px;
    z-index: 1;
    transition: all .3s
}

.product-grid:hover .product-content {
    bottom: 0
}

.product-grid .title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid .title a {
    color: #828282
}

.product-grid .title a:hover,
.product-grid:hover .title a {
    color: #df8a0c
}

.product-grid .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 8px;
    text-align: center;
    transition: all .3s
}

.product-grid .add-to-cart {
    color: #000;
    font-size: 13px;
    font-weight: 600
}

@media only screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 30px
    }
}


@media screen and (max-width:500px) {

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin-top: 30px;
    }

    .navbar-nav {
        text-align: center;
        background-color: #ffb049;
      }
    .navbar-default .navbar-nav>li>a {
        color: #f3f0f0;
        margin: 10px 5px 5px 5px;
        margin-top: 30px;
        font-size: 15px;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .active {
        color: #ffffff;
    }

    .fa-shopping-cart {
        content: "\f07a";
        color: #ffffff;
        font-size: 25px;
        text-decoration: none;
    }
    .wrapper{
        width: 80%;
    }

}


.lost{
    margin-top: 10%;
    margin-bottom: 23%;
    text-align: center;
}
